.dash-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-container h1 {
  margin-bottom: 20px;
}

.dash-today-card {
  width: 700px;
  padding: 25px;
  border-radius: 16px;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.dash-today-card p {
  font-size: 17px;
}

.dash-today-card button {
  margin-top: 12px;
  padding: 10px 22px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
}

.dash-cards-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dash-card {
  width: 180px;
  height: 120px;
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255,255,255,0.2);
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.dash-card h4 {
  margin-bottom: 8px;
}
